body {
    background-color: #f3cfd5;
    font-family: "Segoe UI", sans-serif;
  }
  
  h2 {
    color: #8d62d7;
  }
  
  .card-title {
    color: #363676;
  }
  
  .card-text {
    color: #6e7d8a;
  }
  
  footer {
    margin-top: 50px;
    background: #eef2f7;
  }
#nav{
  background-color:#f88fa7 ;
}